.dyvix-toast-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  width: auto;
  z-index: 1000;
  height: auto;
}
.dyvix-toast {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
  width: 20rem;
  min-height: 4.5rem;
  max-height: fit-content;
  height: auto;
  border-radius: 1.5rem;
  align-items: flex-start;
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.dyvix-toast-error {
  background-color: #fcbec6;
  border: 1px solid rgba(255, 51, 102, 0.3);
}
.dyvix-toast-success {
  background-color: #a8fcb4;
  border: 1px solid rgba(20, 206, 79, 0.3);
}
.dyvix-toast-title {
  width: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 6px;
}
.dyvix-toast-content {
  width: 100%;
  font-size: 0.8rem;
  opacity: 0.85;
  padding-left: 30px;
}
.dyvix-toast-icon {
  border-radius: 50%;
  border: 2px solid;
  width: 18px;
  height: 18px;
  padding: 3px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 4px rgba(1, 6, 2, 0.848);
}
.toast-error {
  color: #ff3366;
}
.toast-success {
  color: #1df13c;
}
.toast-error .dyvix-toast-icon {
  border-color: #ff3366;
  box-shadow: inset 0 0 4px rgba(5, 2, 3, 0.848);
}
.toast-success .dyvix-toast-icon {
  border-color: #14ce4f;
  box-shadow: inset 0 0 4px rgba(2, 5, 3, 0.848);
}

