.dyvix-label-lens {
  font-family: 'Geist';
  color: #b903e2;
  text-shadow:
    0 0 8px #b903e2,
    0 0 20px rgba(185, 3, 226, 0.4);
  transition:
    color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
}
.dyvix-label-lens:hover {
  color: white;
  text-shadow:
    0 0 12px #b903e2,
    0 0 30px rgba(185, 3, 226, 0.6);
}
.dyvix-label-industrial {
  font-family: 'Geist';
  color: #9ca3af;
  border-bottom: 2px solid #374151;
  padding-bottom: 2px;
  transition:
    color ease-in-out 0.3s,
    border-color ease-in-out 0.3s;
}
.dyvix-label-industrial:hover {
  color: #6a6a6a;
  border-bottom-color: #6a6a6a;
}
.dyvix-label-ember {
  font-family: 'Geist';
  color: #ff4500;
  text-shadow:
    0px 4px 8px rgba(255, 69, 0, 0.73),
    0px 0px 20px rgba(255, 69, 0, 0.3);
  padding-bottom: 2px;
  transition:
    color ease-in-out 0.4s,
    text-shadow ease-in-out 0.3s,
    border-bottom ease-in-out 0.4s;
}
.dyvix-label-ember:hover {
  color: #ff6b00;
  text-shadow:
    0px 4px 12px rgba(255, 69, 0, 0.9),
    0px 0px 30px rgba(255, 69, 0, 0.5);
}